

/*****************************
******* NAVBAR ***************
*****************************/
.navbar  {
	margin-bottom: 0px;
	border-radius: 0px;
}



/*****************************
*** BACKGROUND & MAIN TEXT ***
*****************************/
.bg {

  min-height: 800px;
  width:100%;
/*  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 825px;*/
  box-shadow: 0px 2px 2px #fafafa;
}

.bulletpoint {
	font-size:20px;
	color: #ffa500;
  padding-right:8px;
}

.hero-message h1 {
  padding-top: 10px;
}


/*****************************
**** ALL BACKGROUND PICS *****
*****************************/

 .pic1 {
  background: url("images/simplebike.jpg") no-repeat;
 }

 .pic2 {
  background: url("images/palmeras.jpg") no-repeat center center;
 }

 .pic3 {
  background: url("images/bike-and-guy.jpg") no-repeat center center;
 }

 .pic4 {
  background: url("images/downhillgreenbw.jpg") no-repeat center center;
 }

 .pic5 {
  background: url("") no-repeat center center;
 }

 .pic6 {
  background: url("images/backchain.jpg") no-repeat center center;
}

 .pic7 {
  background: url("images/mountainbike2.jpg") no-repeat center center;
}

 .pic8 {
  background: url("images/bwblur.jpg") no-repeat center center;
}

.hero-message {
	background: rgba(0,0,0,0.5);
	margin-top: 40px;
	height: auto;
  border-radius:3%;
  max-height: 800px;
}

.hero-message p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5em;
}

#inversion {
  font-size: 4em;
}

.thumbnail {margin-bottom:6px;}

.carousel-control.left,.carousel-control.right{
  background-image:none;
  margin-top:10%;
  width:5%;
}

.ausp {
  text-align: left;
}

.ausp p {
  font-size: 1.15em;
}

/*****************************
******* THIRD SECTION ********
*****************************/

#third-section {
  margin-top:10px;
}

#slider {

	list-style:none;
	padding:0px
}

.slider-container { 

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px; 
	max-width:350px;

}

#slider img { 

	width:auto; 
	height:125px; 
	margin:0px; 
	display:inline-block;
}

#slider li {
	
	max-width:auto;
}




/*****************************
******* RESPONSIVE ***********
*****************************/

@media only screen and (max-width: 800px) {
  .ausp p {
    font-size: 1.05em;
  }

}


@media only screen and (max-width: 765px) {

  .hero-message p {
    font-size: 1.40em;
  }

  .ausp p {
    font-size: 1.05em;
  }

}



@media only screen and (max-width: 540px) {

  .hero-message p {
    font-size: 1.25em;
  }

  .ausp p {
    font-size: 1.00em;
  }

  .hero-message {
    margin-left:0px;
  }

  .hero-message h1 {
    font-size: 3em;
  }


}


@media only screen and (max-width: 500px) {


  .ausp h2 {
    font-size: 1.25em;
  }

}

@media only screen and (max-width: 465px) {

  .hero-message h1 {
    font-size: 2.5em;
  }

  .ausp h2 {
    font-size: 1.25em;
  }

  .hero-message p {
    font-size: 1em;
  }
  .ausp p {
    font-size: 1em;
  }

}

@media only screen and (max-width: 465px) {

  .asup h2 {
    font-size: 1.20em;
  }

  .ausp p {
    font-size: .75em;
  }
}